{% extends "base.html"%}

{% block title %}
  Home
{% endblock %}

{% block active_tab_complete %} active {% endblock %}

{% block page_del %} complete {% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-2">
  <h2>Completed</h2>
  <h5>{{ curr_date }}</h5>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Priority</th>
      <th scope="col">Due</th>
    </tr>
  </thead>
  <tbody class="table-hover">

    {% for t in tasks %}
    <tr>
      <td>{{ t.name }}</td>
      <td>{{ t.details }}</td>
      <td>{{ t.priority }}</td>
      <td>{{ t.due }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}