{% extends "base.html"%}

{% block title %}
  ToDo - Pending
{% endblock %}

{% block active_tab_pending %} active {% endblock %}

{% block page_del %} pending {% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-2">
  <h2>Pending</h2>
  <h5>{{ curr_date }}</h5>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Priority</th>
      <th scope="col">Due</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <form action="{{ url_for('add_task') }}" method="POST" class="mb-100">
        <tr>
          <td>
            <button type="submit" class="btn btn-primary">Add Task</button>
          </td>
          <td>
            <input type="text" name="name" class="form-control" placeholder="Task name" required>
          </td>
          <td>
            <input type="text" name="details" class="form-control" placeholder="Task Description">
          </td>
          <td>
              <select id="priority" name="priority" class="form-select">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
          </td>
          <td>
            <input type="date" name="due" class="form-control" min="{{ date.today() }}" required>
          </td>
        </tr>
    </form>
        {% for t in tasks %}
        <tr>
          <td>
            <form action="{{ url_for('task_options') }}" method="POST">
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="submit" name="btn" value="complete" class="btn btn-success">✅</button>
                <button type="submit" name="btn" value="edit" class="btn btn-warning">✏</button>
                <button type="submit" name="btn" value="delete" class="btn btn-danger">🗑️</button>
              </div>
              <input type="hidden" name="id" value="{{ t.id }}">
            </form>
          </td>
          <td>{{ t.name }}</td>
          <td>{{ t.details }}</td>
          <td>{{ t.priority }}</td>
          <td>{{ t.due }}</td>
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}